.#projectile-bookmarks.eld
.emacs.desktop
.emacs.desktop.lock
auto-save-list/
backups/
custom.el
local.el
projectile-bookmarks.eld
recentf
straight/
transient/
games
projectile.cache
smex-items
var
eln-cache
/session.*
/.cache
/elpa
/tree-sitter
/tramp
/projects
